<table>
    <thead>
        <tr>
           <th>No.Registro</th>
           <th>Nombre:</th>
           <th>Descripcion:</th>
           <th>Tipo de patologia:</th>
           <th>Origen/Causa:</th>
           <th>Existe Tratamiento:</th>
           <th>Modificar Registro:</th>
        </tr>
    </thead>

    <tbody>
{{#each tasks}}
<tr>
    <td>{{@index}}</td>
    <td>{{title}}</td>
    <td>{{description}}</td>
    <td>{{description1}}</td>
    <td>{{description2}}</td>
    <td>{{description3}}</td>
    <td>
        
        {{#if done}}
            <a href="/toggleDone/{{_id}}">Pendiente</a>
        {{else}}
        <a href="/toggleDone/{{_id}}">Listo</a>
        {{/if}}

        <a href="/delete/{{_id}}">Eliminar</a>
        <a href="/edit/{{_id}}">Actualizar</a>
    </td>
    
</tr>
{{/each}}
    </tbody>

</table>
